@tailwind base;
@tailwind components;
@tailwind utilities;


.containerbox{
    width: 100%;
    padding: 0px 10px;
  }
  @media(min-width:580px) {
    .containerbox{
        width: 580px;
    }
  }
  @media(min-width:768px) {
    .containerbox{
        width: 768px;
    }
  }
  @media(min-width:992px) {
    .containerbox{
        width: 992px;
    }
  }
  @media(min-width:1200px) {
    .containerbox{
        width: 1200px;
    }
  }
  @media(min-width:1300px) {
    .containerbox{
        width: 1300px;
    }
  }


